<!DOCTYPE html>
<html lang="en">
<head>

  <title>scale generator</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  {% block content %}

    <div id="generate_next">
      {% block generate_next %}
      <form action="/scaleup/newscale/{{ user }}">
        Would you like to generate a scale?<br>
        <input type="submit" value="Yes">
      </form>
      {% endblock generate_next %}
    </div>

  {% endblock content %}

</body>
</html>
