{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>scale generator</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Load static CSS file (imported at the top of this file with {% load static %})-->
  <link rel="stylesheet" href="{% static '../scaleup/style.css' %}">

</head>
<body>

{% block content %}

  {% block header %}
    <div class="card">
      <h5 class="card-header">{{ header }}</h5>  
  {% endblock header %}

  {% block generate_next %}
    <div id="generate_next" class="card-body">
      <form action="/scaleup/newscale/{{ user }}">
        <p class="card-text">Would you like to generate another scale?</p>
        <input class="btn btn-primary btn-lg" type="submit" value="Bring it on!">
      </form>
    </div>
  {% endblock generate_next %}

  {% block close_card %}
  </div>
  {% endblock close_card %}

{% endblock content %}
</body>
</html>
