{% extends 'scaleup/base.html' %}

{% block content %}
  <div class="card">
    <h5 class="card-header">scale generator</h5>
    
    {% block generate_next %}
    <form action="/scaleup/newscale">
      <input type="radio" name="user" value="beginner" checked> Beginner<br>
      <input type="radio" name="user" value="lilit"> Lilit<br>
      <input type="radio" name="user" value="test"> Test<br>
      <input type="submit" value="Submit">
  
    </form>
    {% endblock generate_next%}
  </div>
{% endblock content %}